.lootItemsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(10px, 1.5vw, 3vw);
    justify-items: center;
    align-items: center;
}

.shopGridContainer {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 4vw;
}

@media (max-width: 1024px) {
    .lootItemsGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .lootItemsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .lootItemsGrid {
        grid-template-columns: 1fr;
    }
}