.login-form {
    width: 18vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-field {
    position: relative;
}

.login-form-input {
    width: 100%;
    padding: 0.2rem;
    border: 1px solid #a0abb8;
    border-radius: 6px;
    font-size: 1.5rem;
    color: #d5f3ff;
    background: linear-gradient(135deg, #1c2529, #1d2529);
}

.login-form-input:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgb(32, 32, 32);
}

.toggle-password {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #d5f3ff;
}

.login-form-submit {
    position: relative;
    width: 100%;
    background: linear-gradient(135deg, #191d23, #1b2426);
    color: #d5f0ff;
    border-radius: 6px;
    border: 2px solid #d6ebff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 750;
    transition: background-color 0.2s ease;
    height: 3rem;
    text-align: center;
}

.login-form-submit:hover:not(:disabled) {
    background-color: rgba(64, 26, 0, 0.83);
}

.login-form-submit:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.login-form-error {
    position: absolute;
    bottom: 4rem;
    z-index: 1;
    padding: 0.3rem;
    color: #c62828;
    border-radius: 4px;
    text-align: center;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.login-form-input::placeholder {
    font-size: 10px;
    color: #9ca2a6 !important;
}