.login-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-image: url("@/a-game-scenes/login-scene/assets/login-page-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.login-container {
    position: relative;
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-image {
    position: relative;
    width: 100%;
    height: 80vh;
    max-width: 700px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}