.hex-tile.hero {
    cursor: default;
    pointer-events: none;
}

.hex-tile-img-hero {
    width: 95%;
    height: 110%;
    position: absolute;
}

.hex-tile.empty {
    cursor: default;
    pointer-events: none;
}

.hex-tile-img-empty {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #dbf5ff;
}

.hex-tile.fielda {
    background: radial-gradient(
            circle,
            #fff361 40%,
            #d1c843 70%,
            #a89e27 100%
    );
    box-shadow: inset 0 0 20px rgba(20, 40, 20, 0.4);
}

.hex-tile-img-fielda {
    width: 70%;
    height: 80%;
    position: absolute;
}

.hex-tile.campa {
    background: radial-gradient(
            circle,
            rgba(207, 222, 253, 0.83) 30%,
            #7089b8 70%,
            #000c5a 100%
    );
    box-shadow: inset 0 0 20px rgba(30, 20, 10, 0.5);
}

.hex-tile-img-campa {
    width: 96%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.hex-tile.evil-portal {
    background: radial-gradient(
            circle,
            #040404 25%,
            #151515 30%,
            #040404 100%
    );
    box-shadow: inset 0 0 20px rgba(30, 20, 10, 0.5);
}

.hex-tile-img-evil-portal {
    width: 80%;
    height: 80%;
    position: absolute;
}

.hex-tile-img-monster-prison {
    width: 110%;
    height: 110%;
    position: absolute;
}