.bar {
    position: relative;
    width: 100%;
    height: 6vh;
    min-height: 1vh;
    max-height: 12vh;
    background: linear-gradient(135deg, rgba(55, 21, 0, 0.83), #401b01);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heroStats {
    display: flex;
    justify-content: space-between;
}

.item {
    background-color: rgb(255, 240, 186);
    border: 2px solid rgb(64, 27, 1);
    border-radius: 5px;
    width: 10vw;
    height: auto;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroDetailsText {
    text-align: center;
    font-size: 1vw;
    color: rgb(96, 57, 0);
    -webkit-text-stroke: 1px rgb(100, 0, 0);
    margin-left: 10px;
}

.topBarIconImg {
    position: relative;
    width: 15%;
    height: 100%;
}

.topBarEnergyIconImg {
    position: relative;
    top: -18%;
    width: 18%;
    height: 100%;
}

.heart {
    background-image: url("/images/top-bar-items/heart-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.doubleSword {
    background-image: url("src/a-game-scenes/home-scene/assets/hero-properties-icons/crossed-swords-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.skull {
    background-image: url("src/a-game-scenes/home-scene/assets/hero-properties-icons/skull-icon.png");
    background-size: 110%, 110%;
    background-repeat: no-repeat;
}

.coin {
    background-image: url("src/a-game-scenes/home-scene/assets/hero-properties-icons/coin-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.energy {
    background-image: url("src/a-game-scenes/home-scene/assets/hero-properties-icons/energy-icon-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.steps {
    top: -5%;
    background-image: url("src/a-game-scenes/home-scene/assets/hero-properties-icons/foots-icon.png");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.logout {
    width: 5vw;
    height: 2vw;
    color: rgb(96, 57, 0);
    font-size: 15px;
    position: relative;
    background-color: rgb(255, 204, 186);
    border: 2px solid rgba(56, 0, 0, 0.603);
    border-radius: 20px;
    margin-right: 5px;
}