.closeInventoryBtn {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/src/a-game-scenes/inventory-scene/assets/close-button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: bold;
    font-size: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.closeInventoryBtn:hover {
    transform: scale(1.05);
}

.close-button-container {
    position: absolute;;
    left: 88%;
    width: 8vw;
    height: 6vh;
    align-content: center;
    z-index: 11;
}