.grave-tile {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.7;
    position: relative;
    animation: graveAppear 0.5s ease-in-out;
    border-radius: 4px;
    transform: scale(1.1);
}

.grave-tile.glowing {
    cursor: url('../assets/magnifier-cursor-48x48.png') 16 16, auto;
    border-radius: 4px;
    border: 2px solid rgb(12, 5, 2);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    opacity: 1;
}

.grave-info-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'MedievalSharp', cursive; /* 🔥 ігровий шрифт */
    font-weight: bold;
    font-size: 2.8vh;
    color: #ffe600;
    text-shadow: 0 0 4px rgba(255, 255, 150, 0.8),
    0 0 8px rgba(255, 255, 100, 0.6);
    animation: pulseIcon 1.5s infinite ease-in-out;
    pointer-events: none;
    user-select: none;
}

.grave-tile:hover .grave-info-icon {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
}

@keyframes pulseIcon {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.8;
    }
}

@keyframes graveAppear {
    from {
        opacity: 0;
        transform: scale(0.6);
    }
    to {
        opacity: 0.9;
        transform: scale(1);
    }
}