.shopOverlay {
    width: 55vw;
    height: 85vh;
    margin-top: 5vw;
    padding: 2vw;
    border-radius: 2rem;
    border: 3px solid rgba(255, 255, 255, 0.3);
    background: url("/back-up/shop-sceneop-background.png") center / cover no-repeat;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
}

.shopBtn {
    position: absolute;
    top: 11%;
    width: 3vw;
    height: 3vw;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.shopBtn:hover {
    transform: scale(1.1);
}

.shopBtn.close {
    right: 23%;
    background-image: url("/back-up/shop-sceneop-close-btn-image.png");
}

.shopBtn.refresh {
    left: 23%;
    background-image: url("/back-up/shop-sceneop-refresh-btn-image.png");
}

.refresh-price-container {
    position: absolute;
    left: 26vw;
    top: 13vh;
    width: 4vw;
    height: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    background: rgb(43, 37, 37);
    border: 2px solid #ffaa00;
    padding: 0.4em 0.8em;
    border-radius: 1vh;
    font-weight: bold;
    font-size: clamp(14px, 1vw, 16px);
}

.notEnough {
    cursor: not-allowed;
}

.notEnoughCoinsWarningText {
    border-color: rgba(255, 0, 0, 0.5);
}